/**/
body{
    text-align: center;
    color: white;
    height: 300px;
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 100%, 100%;
    background-image: url("background.jpg");
}
h1{
    text-transform: uppercase;
    text-decoration: solid;
    margin-left: 25px;
}
fieldset{
    width: 400px;
    height: 500px;
    margin-left: 38%;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
input[type="text"],[type="password"],
[type="email"]{
    padding: 10px;
    width:300px;
    margin-bottom: 10px;
    text-align: justify;
    border: none;
    background-color: transparent;
}
input::placeholder{
    text-decoration: solid;
    text-transform: uppercase;
    color: white;
}
#register{
    width: 400px;
    height: 40px;
    text-decoration: solid;
    text-transform: uppercase;
    color: white;
    background: -webkit-gradient(linear,
    left top, left bottom, from(rgb(22, 146, 247)), to(rgb(20, 153, 242)) );
    cursor: pointer;
}
h3{
    border: 2px solid;
    background: -webkit-gradient(linear,
    left top, left bottom, from(rgb(23, 244, 192)), to(rgb(14, 201, 145)) );
    text-align: center;
    width: 50px;
    margin-left: 180px;
}
input[type="button"]{
    width: 40px;
    height: 50px;
    margin-left: 15px;
    padding: 10px;
    background: white;
    cursor: pointer;
}
#facebook{
    background-repeat: no-repeat;
    background-size: 21px 40px;
    background-position:center;
    background-image: url("facebook\ logo.png");
}
#insta{
    background-repeat: no-repeat;
    background-size: 30px 37px;
    background-position:center;
    background-image: url("insta\ logo.png");
}
#twitter{
    background-repeat: no-repeat;
    background-size: 35px 37px;
    background-position:center;
    background-image: url("twitter\ logo.png");
}
#google{
    background-repeat: no-repeat;
    background-size: 32px 37px;
    background-position:center;
    background-image: url("google\ logo.png");
}