body{
    background-color: rgb(20, 19, 19);
    color: white;
}
h1{
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 450px;
    margin-top: 6%;
    text-indent: 50px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    display: block;
    background-size: 30px;
    background-image: url("insta\ logo.png");
}
fieldset{
    width: 700px;
    height: 300px;
    border-radius: 20px;
    margin-left: 400px;
    margin-top: 20px;
}
form{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: larger;
}
input{
    width: 300px;
   margin-left:200;
   padding: 10px;
}
label{
    text-align: justify;
    text-transform: uppercase;
    padding: 40px;
}
#email{
    height: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 161px;
}
#username{
    height: 10px;
    margin-bottom: 20px;
    margin-left: 115px;
}
#password{
    height: 10px;
    margin-bottom: 20px;
    margin-left: 118px;
}
#confirmpassword{
    height: 10px;
    margin-bottom: 20px;
    margin-left: 27px;
}
#singup{
    margin-top: 15px;
    margin-left: 140px;
    text-decoration: solid;
    text-transform: uppercase;
    color: white;
    background:-webkit-gradient(linear, 
    left top, left bottom, from(rgb(21, 123, 232)), to(rgb(22, 123, 239)));
    cursor: pointer;
}
