body{
  background: -webkit-gradient(linear,
  left top, right top, color-stop(0%, #298ef4), color-stop(80%, #b432f5));
}

h1{
  text-align: center;
  color: white;
  text-transform: uppercase;
}

h3{
  text-decoration: underline;
}

form{
  border: 1px solid;
  background-color: white;
  width: 600px;
  height: 460px;
  padding: 20px;
  text-transform: capitalize;
  text-decoration: solid;
  margin-left: 30%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]
{
  width: 250px;
  display: block;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-transform: capitalize;
  text-decoration: solid;
}

#rightalign{
  margin-left: 50%;
  margin-top: -39%;
}

p{
  display: inline;
}
#radio{
  padding: 20px;
  
}
#female{
  margin-left: 50px;
}
#other{
  margin-left: 50px;
}

#register{
  text-align: center;
  width: 400px;
  height: 30px;
  text-decoration: solid;
  text-transform: uppercase;
  color: white;
  background: -webkit-gradient(linear,
  left top, left bottom, from(rgb(20, 152, 240)), to(rgb(56, 161, 247)));
  margin-left: 80px;
  margin-top: 20px;
}